{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
</head>
<body>
<div class='container'>
    <h1 class='page-header'>Card Stats</h1>
    <table class='table table-striped'>
        <tr>
            <th>Card</th>
            <th>Decks</th>
            <th>Games</th>
            <th>Winrate</th>
            <th>Cost</th>
            <th>Colors</th>
        </tr>
        {% for r in cards %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.decks }}</td>
            <td>{{ r.games }}</td>
            <td>{{ r.winrate }}</td>
            <td>{{ r.cost }}</td>
            <td>{{ r.colors }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
